
/* RESET */



/* BODY */

/*body {
    height: 100%;
    background: linear-gradient(to bottom right, #fff, #fff);
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
	color:#777;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
    display: flex;
}*/

p{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: rgb(153, 153, 153);
}

.footer{
    padding-top: 50px;
}

#two{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
    font-weight: 400;
    padding-top: 50px;
    border-radius: 0px;
}

#top1{
    padding-bottom: 10px;
}

#three{
    border-radius: 0px;
    border-width: 0px;
    background-color: #f0f0f0;
}

canvas{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    height: 400px;
}

.jumbotron{
    background-color: #fff;
    margin-bottom: 0px !important;
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color:#000;
    font-weight: 600 !important;

}

a:visited {
    color: #a6192e !important;
}

a:active {
    color: #460a13 !important;
}

a {
    color: #a6192e !important;
}



.btn{
    background-color: #a6192e;
    border-radius: 10px;
    border-width: 0px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    margin-left: 0px;
    padding: 12px;
    text-align: center;
    min-width: 90px;
    white-space: nowrap;
}

#odometer{
    font-weight: 600;
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-plaza {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
  }
  .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-plaza .odometer-digit {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-plaza .odometer-digit .odometer-digit-spacer {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    visibility: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-plaza .odometer-digit .odometer-digit-inner {
    text-align: left;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-plaza .odometer-digit .odometer-ribbon {
    display: block;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-plaza .odometer-digit .odometer-ribbon-inner {
    display: block;
    -webkit-backface-visibility: hidden;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-plaza .odometer-digit .odometer-value {
    display: block;
    -webkit-transform: translateZ(0);
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-plaza .odometer-digit .odometer-value.odometer-last-value {
    position: absolute;
  }
  .odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-up .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 5s;
    -moz-transition: -moz-transform 5s;
    -ms-transition: -ms-transform 5s;
    -o-transition: -o-transform 5s;
    transition: transform 5s;
  }
  .odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-down .odometer-ribbon-inner {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
    -webkit-transition: -webkit-transform 5s;
    -moz-transition: -moz-transform 5s;
    -ms-transition: -ms-transform 5s;
    -o-transition: -o-transform 5s;
    transition: transform 5s;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  
  .odometer.odometer-auto-theme, .odometer.odometer-theme-plaza {
    -moz-border-radius: 0.15em;
    -webkit-border-radius: 0.15em;
    border-radius: 0.15em;
    background-color: #a6192e4b;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    padding: 0 0.12em;
    line-height: 1.2em;
    font-size: 1.2em;
    background-size: 16px 16px;
  }
  .odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-plaza .odometer-digit {
    -moz-border-radius: 0.1em;
    -webkit-border-radius: 0.1em;
    border-radius: 0.1em;
    padding: 0 0.03em;
    color: #a6192e;
  }
  .odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-plaza .odometer-digit .odometer-digit-inner {
    left: 0.03em;
  }