@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700';
@import 'https://cdn.jsdelivr.net/gh/ramon82/zuck.js@master/dist/zuck.css';
@import 'https://cdn.jsdelivr.net/gh/ramon82/zuck.js@master/dist/skins/snapgram.css';
@import 'https://cdn.jsdelivr.net/gh/ramon82/zuck.js@master/dist/skins/vemdezap.css';
@import 'https://cdn.jsdelivr.net/gh/ramon82/zuck.js@master/dist/skins/facesnap.css';
@import 'https://cdn.jsdelivr.net/gh/ramon82/zuck.js@master/dist/skins/snapssenger.css';

            body {font-family:'Roboto', sans-serif;font-size:14px;padding:0;margin:0;color:#333}
            #stories {padding: 12px;}
      
            h1 {text-align: center;font-family: monospace;padding:0 12px;margin:0;border-bottom:1px solid #ddd;font-size:24px;height:56px;line-height:56px;margin-bottom: 0;white-space: nowrap;text-overflow: ellipsis;overflow:hidden;}
      h1.Snapgram {background: #fff;color:#333;}
      h1.FaceSnap {background: #3B5998;color: #fff;}
      h1.VemDeZAP {background: #085E53;color: #fff;}
      h1.Snapssenger {background: #0084FF;color:#fff;}
      
      .disclaimer {display:block;text-decoration: none !important;color:#333;line-height: 1.5em;background: #ffffd2;border-radius:3px;margin: 12px 12px 0;padding:12px 12px 12px 74px;font-size:13px;max-width: 500px;overflow: hidden;min-height: 50px;}
      .disclaimer img {float:left;margin-right: 12px;width:50px;position: absolute;margin-left:-62px;}
      .disclaimer a {color: inherit !important;border:0;}
      .disclaimer p {margin: 0;}
      .disclaimer p + p {margin-top: 1.25em}
      
            .skin {text-transform: uppercase;white-space: nowrap;overflow: hidden;font-weight: bold;position: absolute;z-index: 10;left:0;right:0;bottom: 0;background: #fff;font-size:16px;padding:12px;color:#fff;background:#333;}
      .skin select {background: #fff; font-size:inherit;text-transform: none; max-width: 30%;}
      
      #stories {max-width: 500px;margin:0 auto;}
    
      @media (min-width: 524px){
        .disclaimer {margin: 12px auto;}
      }

strong {font-weight:500}


p{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: rgb(153, 153, 153);
}

#map1{
padding-left: 0px;
}

.footer{
  padding-top: 50px;
}

#two{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-weight: 400;
  padding-top: 50px;
  border-radius: 0px;
}

#map {
width: 100vw;
height: 100vh;
}

#top1{
  padding-bottom: 30px;
  background-color: #FFCA2A; 
}

#bottom1{
padding-bottom: 30px;
background-color: #FFCA2A; 
}

#three{
  border-radius: 0px;
  border-width: 0px;
  background-color: #f0f0f0;
}

canvas{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  height: 400px;
}

.jumbotron{
  background-color: #fff;
  margin-bottom: 0px !important;
}

h1{
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color:#000;
  font-weight: 600 !important;

}

a:visited {
  color: #a6192e !important;
}

a:active {
  color: #460a13 !important;
}

a {
  color: #a6192e !important;
}



.btn{
  background-color: #a6192e;
  border-radius: 10px;
  border-width: 0px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin-left: 0px;
  padding: 12px;
  text-align: center;
  min-width: 90px;
  white-space: nowrap;
}

#odometer{
  font-weight: 600;
}


.odometer.odometer-auto-theme, .odometer.odometer-theme-plaza {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-plaza .odometer-digit {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: relative;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-spacer, .odometer.odometer-theme-plaza .odometer-digit .odometer-digit-spacer {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-plaza .odometer-digit .odometer-digit-inner {
  text-align: left;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon, .odometer.odometer-theme-plaza .odometer-digit .odometer-ribbon {
  display: block;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-ribbon-inner, .odometer.odometer-theme-plaza .odometer-digit .odometer-ribbon-inner {
  display: block;
  -webkit-backface-visibility: hidden;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value, .odometer.odometer-theme-plaza .odometer-digit .odometer-value {
  display: block;
  -webkit-transform: translateZ(0);
}
.odometer.odometer-auto-theme .odometer-digit .odometer-value.odometer-last-value, .odometer.odometer-theme-plaza .odometer-digit .odometer-value.odometer-last-value {
  position: absolute;
}
.odometer.odometer-auto-theme.odometer-animating-up .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-up .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 5s;
  -moz-transition: -moz-transform 5s;
  -ms-transition: -ms-transform 5s;
  -o-transition: -o-transform 5s;
  transition: transform 5s;
}
.odometer.odometer-auto-theme.odometer-animating-up.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-up.odometer-animating .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-down .odometer-ribbon-inner {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.odometer.odometer-auto-theme.odometer-animating-down.odometer-animating .odometer-ribbon-inner, .odometer.odometer-theme-plaza.odometer-animating-down.odometer-animating .odometer-ribbon-inner {
  -webkit-transition: -webkit-transform 5s;
  -moz-transition: -moz-transform 5s;
  -ms-transition: -ms-transform 5s;
  -o-transition: -o-transform 5s;
  transition: transform 5s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-plaza {
  -moz-border-radius: 0.15em;
  -webkit-border-radius: 0.15em;
  border-radius: 0.15em;
  background-color: #a6192e4b;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  padding: 0 0.12em;
  line-height: 1.2em;
  font-size: 1.2em;
  background-size: 16px 16px;
}
.odometer.odometer-auto-theme .odometer-digit, .odometer.odometer-theme-plaza .odometer-digit {
  -moz-border-radius: 0.1em;
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
  padding: 0 0.03em;
  color: #a6192e;
}
.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-plaza .odometer-digit .odometer-digit-inner {
  left: 0.03em;
}