
/* RESET */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.group:before,
.group:after { content: ""; display: table;} 
.group:after { clear: both;}
.group { zoom: 1;}


/* BODY */

body {
    background: #FCFCFC;
    font-family: 'Playfair Display', serif;
	color:#777;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

#divider {
    margin-top: 20px;
	border-bottom:1px solid #eee;
    
}

a#button {
	padding: 12px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #FCFCFC;
	color: #000;
	font-size: 14px; font-weight: light; line-height: 1.4;
	border-radius: none;
}

a#button:hover {
	padding: 12px 12px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaa;
    background: #aaa; 
	color: #fff;
	font-size: 14px; font-weight: light; line-height: 1.4;
	border-radius: none;
}

#wrapper {
	padding:100px 40px 100px 40px;
	max-width:500px;
	margin:0 auto;
}

#header {
	border-bottom:1px solid #eee;
	margin-bottom:20px;
	padding-bottom:40px;
	text-align:center;
	position:relative;
}

#avatar {
	display:inline-block;
	width:80px;
	height:80px;
	border-radius:50%;
	margin-bottom:20px;
}

#badge {
	position: absolute; bottom: 10px; right: 10px;
	height: 48px; width: 48px;
}


/* TYPOGRAPHY */

a {
    font-family: 'Lato', sans-serif;
	text-decoration:none;
	font-color:#ddd;
    font-size: 10px;
	font-weight:300;
}

h1 {
	font-weight:400;
	font-size:23px;
	color:#222;
}

h2 {
	font-size: 13px;
	font-weight: 400;
	color:#aaa; 
    text-transform: uppercase;
	margin-top:10px;
}

h3 {
	font-size: 100px;
	font-weight: 300;
	color:#aaa; 
	margin-top:10px;
    margin-bottom:20px;
}


p {
	line-height: 1.8;
	 margin-bottom:30px;
	 font-size: 16px;
}




/* RESPONSIVE */

@media screen and (max-width: 540px) {
#wrapper { padding:40px; }
#header { margin-bottom: 40px; }
a#docs { display: none; }
}

@media screen and (max-width:440px) {
#wrapper { padding:20px; }
#header { margin-bottom: 20px; }
}


